@media screen and (max-width:768px) {
    .nav-btn, .search-icon{
        display: none;
    }
    .inner-content{
        width: 100%;
    }
    .header-text{
        padding: 0px;
    }
    .inner-content div{
        margin: 0 auto;
    }
    
}