*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #000000;
    --secondary-color: #30e87a;
    --accent-color: #7f7f7f;
    --accent-color-dark: #936dff;
    --text-color: #ffffff;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}
.padding{
    padding-inline: 28px;
    padding-block: 22px;
}
.nav-link{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
}
.navbar-toggler {
    border-color: none;
}
.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(177, 177, 177, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.btn{
    border-radius: 205px;
    border: none;
}
.nav-btn{
    background-color: var(--secondary-color);
    font-weight: 600;
    padding: 10px 20px;
    font-size: 1.1rem;
    transition: all 0.2s ease;
}
.nav-btn:hover{
    background-color: var(--accent-color-dark);
}
.inner-content{
    width: 54%;
    margin-inline: auto;
}
.free-trial-btn{
    background-color: var(--text-color);
    padding: 15px 30px;
    transition: all 0.2s ease;
    color: #000000;
}
.free-trial-btn:hover{
    background-color: var(--secondary-color);
    color: #000000;
}
.header{
    background-image: url("./assets/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section{
    padding-block: 10%;
}
.hero-section h1{
    font-size: 3.6rem;
    font-weight: 700;
}
.hero-section h1 span{
    color: var(--secondary-color);
}
.header-text{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    padding-inline: 80px;
}
.icon-text{
    font-size: 1.1rem;
    font-weight: 500;
}
.check-mark-icon{
    margin-top: -5px;
}